<footer class="footer">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="itcTagline">
              <div class="itcTagline_text">
                Let's start a conversation
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_mid">
      <div class="container">
        <div class="row footer_content">
          <div class="col-md-3 col-sm-4">
            <h2 class="footer_header">
              EMAIL US AT
            </h2>
            <p class="footer_text">
              <a href="mailto:enquiries@impact-today.sg">enquiries@impact-today.sg</a>
            </p>
          </div>
          <div class="col-md-3 col-sm-4">
            <h2 class="footer_header">
              CALL US AT
            </h2>
            <p class="footer_text">
              <a href="tel:+6563830090">+65 6383-0090</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_btm">
      <div class="container">
        <div class="row footer_copyright">
          <div class="col">
            Copyright &copy; <span id="footerYear">2019</span> Impact Today Communications. All Rights Reserved.</div>
            <script>
              document.getElementById("footerYear").innerHTML = new Date().getFullYear();
            </script>
          </div>
      </div>
    </div>
  </footer>