{% macro active(activePage = 'home') %}
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav">
          <li class="nav-item {%if activePage == 'home' %} active {% endif %}">
            <a class="nav-link pl-lg-0" href="/">Home</a>
          </li>
          <li class="nav-item {%if activePage == 'strategicApproach' %} active {% endif %}">
            <a class="nav-link" href="strategicapproach.html">Strategic Approach</a>
          </li>
          <li class="nav-item {%if activePage == 'editorialServices' %} active {% endif %}">
            <a class="nav-link" href="editorialservices.html">Editorial Services</a>
          </li>
          <li class="nav-item {%if activePage == 'projectManagement' %} active {% endif %}">
            <a class="nav-link" href="projectmanagement.html">Project Management</a>
          </li>
          <li class="nav-item {%if activePage == 'aboutUs' %} active {% endif %}">
            <a class="nav-link pr-lg-0" href="aboutus.html">About Us</a>
          </li>
        </ul>
      </div>
      <div class="sitelogo">
        <a href="index.html">
          <img src="/img/itc_logo.svg" alt="Impact Today Communications logo">
        </a>
      </div>
    </div>
  </nav>
{% endmacro %}